h1 {
    text-align: center;
}

.top-header {
    text-align: left;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    max-width: 700px;
    padding: 5px;
    background-color: #2A2B2F;
    border-style: solid;    
    border-color: white;
    border-width: 1px;
    color: white;
}

#divide {
    width: 100%;
    height: 2px;
    background-color: rgb(73, 73, 73);
    margin-bottom: 10px;
    z-index: 1;
} 

#div-onlink-dashboard {
    position:relative;
    top: -12px;
    right: -8px;
    width: 75px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    z-index: 2;
}
#div-onlink-list {
    position:relative;
    top: -12px;
    right: -99px;
    width: 90px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    z-index: 2;
}
#div-onlink-data {
    position:relative;
    top: -12px;
    right: -205px;
    width: 40px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    z-index: 2;
}

#header {
    text-align: center;
}

nav {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.box {
    background-color: #24262C;
    display: inline-block;
    border-radius: 10px;
    background: #24262C;
    box-shadow:  5px 5px 25px #111215,
             -5px -5px 25px #373a43;
    
}

#main-left{
    margin: unset;
    width: 65%;
    overflow: hidden;
    position: relative;
    height: 250px;
    
}

#main-right{
    margin: unset;
    width: 30%;
    max-width: 400px;
    position: relative;
    float: right;
    

}

.inner-box {
    display: block;
    margin: 7px 7px;
    background-color: #2A2B2F;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#checkboxes {
    list-style: none;
    padding: 0
}

a {
    text-decoration: none;
    color: gray;
    margin-right: 20px;
}

a:hover{
    color: gray;
}

a:active {
    color: white;
}

#onlink {
    color: white;
}

nav {
    text-align: left;
}



.list-text {
    display: inline-block;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    bottom: 1px;
    font-size: 25px;

}

/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   
   .container {
    width: 95%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
   }
   
   /* Create a custom checkbox */
   .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #ccc;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 5px;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
   }
   
   /* When the checkbox is checked, add a blue background */
   .container input:checked ~ .checkmark {
    background-color: #47da99;
    -webkit-animation: pop 0.5s;
            animation: pop 0.5s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
   }
   
   /* Show the checkmark when checked */
   .container input:checked ~ .checkmark:after {
    display: block;
   }
   
   /* Style the checkmark/indicator */
   .container .checkmark:after {
    left: 0.3em;
    top: 0.1em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
   }
   
   @-webkit-keyframes pop {
    0% {
     -webkit-transform: scale(1);
             transform: scale(1);
    }
   
    50% {
     -webkit-transform: scale(0.9);
             transform: scale(0.9);
    }
   
    100% {
     -webkit-transform: scale(1);
             transform: scale(1);
    }
   }
   
   @keyframes pop {
    0% {
     -webkit-transform: scale(1);
             transform: scale(1);
    }
   
    50% {
     -webkit-transform: scale(0.9);
             transform: scale(0.9);
    }
   
    100% {
     -webkit-transform: scale(1);
             transform: scale(1);
    }
   }