h1 {
    text-align: center;
}

.top-header {
    text-align: left;
}

body {
    width: 95vw;
    padding: 5px;
    background-color: #2A2B2F;
    border-style: solid;    
    border-color: white;
    border-width: 1px;
    color: white;
}

#divide {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 10px;
} 

#header {
    text-align: center;
}


.box {
    background-color: #24262C;
    display: inline-block;
    border-radius: 10px;
}

#main-left{
    margin: unset;
    width: 65%;
    overflow: hidden;
    position: relative;
    height: 250px;
    
}

#main-right{
    margin: unset;
    width: 30%;
    max-width: 400px;
    position: relative;
    float: right;

}

.inner-box {
    display: block;
    margin: 7px 7px;
    background-color: #2A2B2F;
    border-radius: 10px;
    padding-left: 10px;
}

#checkboxes {
    list-style: none;
    padding: 0
}

